.table {
  inline-size: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
  white-space: nowrap;

  [align='right'] > * {
    text-align: end;
  }
  [align='center'] > * {
    text-align: center;
  }

  thead {
    text-transform: uppercase;
    color: var(--mui-palette-text-primary);

    th {
      font-weight: 700;
      padding: 12px 16px;
      color: #ffffff;
      background-color: rgb(109, 9, 197);  

      letter-spacing: 0.2px;
      line-height: 1.8462;
      text-align: start;
      block-size: 56px;
      &:not(:first-of-type):not(:last-of-type) {
        padding-block: 0.5rem;
        padding-inline: 1rem;
      }
      &:first-of-type {
        &:not(:has(input[type='checkbox'])) {
          padding-block: 0.5rem;
          padding-inline: 1.25rem 1rem;
        }
        &:has(input[type='checkbox']) {
          padding-inline-start: 0.6875rem;
        }
      }
      &:last-of-type {
        padding-block: 0.5rem;
        padding-inline: 1rem 1.25rem;
      }
    }
  }

  tbody {
    color: var(--mui-palette-text-secondary);

    th,
    td {
      font-size: 0.9375rem;
      line-height: 1.4667;
      block-size: 50px;
      transition: font-weight 0.2s;

      &:not(:first-of-type):not(:last-of-type) {
        padding-block: 0.5rem;
        padding-inline: 1rem;
      }
      &:first-of-type {
        &:not(:has(input[type='checkbox'])) {
          padding-block: 0.5rem;
          padding-inline: 1.25rem 1rem;
        }
        &:has(input[type='checkbox']) {
          padding-inline-start: 0.6875rem;
        }
      }
      &:last-of-type {
        padding-block: 0.5rem;
        padding-inline: 1rem 1.25rem;
      }
    }

    tr:not(:last-child) {
      border-block-end: 1px solid var(--border-color);
    }

    tr:hover {
      /* Fondo degradado */
      /* background-image: linear-gradient(2.5deg, rgba(11, 178, 211, 0.125) 20%, rgba(159, 47, 255, 0.3) 70%); */
      background-image: linear-gradient(-3deg, rgba(11, 178, 211, 0.12) 20%, rgb(158, 47, 255,0.3) 90%);
      
      /* Efecto de sombra */
      box-shadow: 0px 4px 8px rgba(94, 1, 110, 0.588);
      transform: translateY(-2px);
      transition: transform 0.2s, box-shadow 0.2s, background-image 0.2s;

      /* Negrita en hover */
      th, td {
        font-weight: bold;
      }
    }  
  }

  .btnContainer {
    display: flex;
    gap: 5px; /* Espacio entre los botones */
  }

  /* .btn img {
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover img {
    opacity: 0;
  }
  
  #btnEdit:hover::after {
    content: 'Editar';
    position: absolute;
    font-weight: bold;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #btnDelete:hover::after {
    content: 'Eliminar';
    position: absolute;
    font-weight: bold;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
}

.cellWithInput input {
  inline-size: 100%;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  border-radius: var(--mui-shape-customBorderRadius-sm);
  padding-block: 6px;
  padding-inline: 10px;
  margin-inline: -10px;

  &:focus-visible {
    outline: 1px solid var(--mui-palette-primary-main);
  }
}

.topTable {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea elementos al inicio y final */
  margin-top: 16px;
  margin-bottom: 16px;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1; /* Ocupa el espacio disponible */
}

.searchField {
  flex: 1; /* Ocupa todo el espacio disponible */
}

.selectField {
  min-width: 120px;
}

.buttonContainer {
  margin-left: 16px; /* Espacio entre el contenedor de filtros y el botón */
}
